{
    "parser": "babel-eslint",
    "env": {
      "browser": true
    },
    "plugins": [
      "react",
      "import",
      "jsx-a11y"
    ],
    "extends": "airbnb",
    "rules": {
      "no-console": 0,
      "import/extensions": 0,
      "import/no-unresolved": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": 0,
      "import/no-extraneous-dependencies": 0,
      "react/forbid-prop-types": 0,
      "max-len": 0
    },
    "settings": {
      "import/resolver": {
        "babel-module": {}
      }
    }
}
